
amp-story-page {
  background: black;
  color: white;
  font-family: sans-serif;
}
.i-amphtml-story-spinner-container {
  /* Hide the spinner for loading pages, since this causes flakes */
  display: none;
}
h1.hello-world {
  color: white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}
p.description {
  color: white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  background-color: rgba(255,255,255,0.5);
}
